/* Стандартные отступы */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Общие свойства */

body {
	font-family: 'Merriweather', sans-serif;
	font-size: 1rem;
	color: #CBBC88;
	background-color: #3C3B39;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

h1 {
	margin: 0;
}

img {
	max-width: 100%;
}

.content-wrapper {
	margin: 0 auto;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section .content-wrapper {
	padding-top: 8vh;
	height: 100vh;
	align-items: center;
}

.section-heading {
	font-size: 2.5rem;
	margin-bottom: 1.5em;
	align-self: center;
}

.landscape-hflex {
	display: none;
	position: fixed;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-color: #000;
	color: #CBBC88;
	z-index: 2;
}

/* Шапка сайта */

.page-header {
	position: fixed;
	min-width: 320px;
	width: 100%;
	height: 8vh;
	z-index: 1;
	background: rgba(0, 0, 0, 0.2);
}

.page-header .content-wrapper {
	width: 80%;
	flex-direction: row;
	justify-content: space-between;
}

.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.logo img {
	filter: drop-shadow(2px 2px 5px rgb( 0, 0, 0));
}

.phone-link {
	font-weight: 600;
	color: #CBBC88;
	text-decoration: underline;
	filter: drop-shadow(1px 1px 4px #000);
}

.nav-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 50%;
}

.nav-item:last-child {
	display: none;
}

.nav-link:hover {
	text-decoration: underline;
	transition: all 0.5s ease-in;
}

.nav-link:active {
	opacity: 0.8;
}

.burger {
    display: none;
}

/* Landing */

.promo {
	width: 100%;
	height: 100vh;
	background: url('../img/promo-bgr.jpg');
	background-size: cover;
}

.promo .promo-heading {
	font-size: 72px;
	line-height: 1.5em;
	text-align: center;
	position: absolute;
	filter: drop-shadow( 5px 5px 5px rgb( 0, 0, 0)) 
			drop-shadow( -1px -1px 5px rgba( 233, 188, 136, 0.5));
	top: 30%;
	right: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	user-select: none;
	transform: perspective(1000px) rotateY(-11deg) rotate(-1deg);
	z-index: 1;
}

.heading-span {
	font-family: 'Philosopher', sans-serif;
	font-size: 144px;
	user-select: none;
}

/* О компании */

.about {
	background: url('../img/about-bgr.jpg');
	background-size: cover;
	width: 100%;	
}

.about-item-heading {
	font-size: 1.75rem;
}

.about-item {
	display: flex;
	flex-direction: column;
	flex-basis: 30% ;
}

.about-item.item-2 {
	align-self: center;
}

.about-item.item-3 {
	align-self: flex-end;
}

.about-item-wrapper {
	min-height: 75%;
	display: flex;
	justify-content: space-between;
}

.about p {
	margin-top: 1.5rem;
	font-size: 1.25rem;
	line-height: 2.25rem;
	font-style: italic;
}

/* Услуги */

.services {
	background: url('../img/services-bgr.jpg');
	background-size: cover;
	width: 100%;
	
}

.services-heading {
	font-size: 2.5rem;
}

.services p {
	align-self: flex-start;
}

.services .services-list {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;

}

.services .services-list li {
	padding-top: 1.5rem;
}

.services-link {
	font-size: 1.5rem;
}

.services-link:hover {
	text-decoration: underline;
	color: #CBBC88;
	transition: all 0.75 ease-in;
}

.services-link:active {
	opacity: 0.8;
}

.services-page-heading {
	padding-top: 0;
	margin-top: 0;
}

.services-page-list {
	font-size: 2rem;
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.services-page-list li {
	padding-top: 1.25rem;
}
.services-page-list li:last-child {
	margin-top: 5rem;
}

/* Услуги: представительство в суде */

.court {
	width: 100%;
	background: url('../img/court-bgr.jpg');
	background-size: cover;
}

/* Услуги: поддержка бизнеса */

.business {
	width: 100%;
	background: url('../img/business-bgr.jpg');
	background-size: cover;
}

/* Услуги: банкротство */

.bankrupcy {
	width: 100%;
	background: url('../img/bankrupcy-bgr.jpg');
	background-size: cover;
}

/* Услуги: защита прав потребителя */

.consumer {
	width: 100%;
	background: url('../img/consumer-bgr.jpg');
	background-size: cover;
}

/* Услуги: семейные споры */

.family {
	width: 100%;
	background: url('../img/family-bgr.jpg');
	background-size: cover;
}

/* Услуги: наследование */

.inheritance {
	width: 100%;
	background: url('../img/inheritance-bgr.jpg');
	background-size: cover;
}

/* Услуги: медицинское право */

.medical {
	width: 100%;
	background: url('../img/medical-bgr.jpg');
	background-size: cover;
}

/* Напишите нам */
.write-me .section-heading {
	margin-bottom: 1.25rem;
}

.write-me form {
	display: flex;
	height: 90%;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	padding-top: 1rem;
	width: 75%;
	background-color: #3C3B39;
	border: 1px solid rgba( 233, 188, 136, 0.5);
	border-radius: 1rem;
	margin-bottom: 2rem;
}

.input-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 1em;
}

.input-wrapper-big {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.input-wrapper.check {
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

input.policy-check {
	margin-right: 0.5em;
}

input, textarea {
	margin-top: 0.5rem;
	padding: 0.25rem 0.5rem;
	border-radius: 0.5rem;
}

.section-button {
	margin-top: 1.5rem;
	padding: 0.5rem 2rem;
	color: #CBBC88;
	background-color: #3C3B39;
	border: 1px solid #CBBC88;
	border-radius: 1em;
}
.contacts-list {
	padding-top: 1.5rem;
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Карта Яндекс */

section.map {
	display: none;
}

.map {
	width: 100%;
	position: relative;
	overflow: hidden;
	padding-top: 0.5rem;
}

.map-frame {
	width: 100%;
	height: 25vh;
	border-radius: 1rem;
	border: 2px solid rgba( 233, 188, 136, 0.5);
}

/* Футер */

.page-footer {
	font-size: 0.75rem;
	position: fixed;
	bottom: 0;
	min-width: 320px;
	width: 100%;
	z-index: 1;
	padding-bottom: 0.5em;
}

.page-footer .content-wrapper {
	width: 80%;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	height: 5vh;
}


/* Политика обработки данных */

.policy .content-wrapper {
	display: flex;
	min-height: 100vh;
	padding-top: 12vh;
	align-items: flex-start;
}

.policy {
	font-size: 1rem;
	display: flex;
}

.policy h2 {
	margin-top: 1.5rem;
	align-self: flex-start;
}

.policy p {
	margin: 0;
	margin-top: 1rem;
}



